/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Newsreader:opsz,wght@6..72,300&family=Poppins:wght@200;500&family=Signika+Negative:wght@700&display=swap");
/* layout */
section {
  min-height: 100vh;
}
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #fff;

  font-family: "Lora";
}
header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
header .navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar-container .logo-container {
  display: flex;
  align-items: center;
}
header .navbar-container .logo-image {
  height: 70px;
  width: 110px;
}
header .navbar-container .logo-name {
  font-size: 30px;
}
header a {
  color: #333;
  text-decoration: none;
}

section {
  min-height: 100vh;
}
.landing-section {
  margin: 0 auto;
}
.landing-container {
  height: 70vh;
  .company-name {
    font-size: 80px;
  }
}

.title {
  font-size: 40px;
}

/* homepage */
.sec-1 {
  background-image: url(../images/landing4.png);
  background-repeat: no-repeat;
  margin-top: 1px;
}
.sec-1 .landing-container {
  height: 86vh;
}
.sec-2 {
  .about-us {
    border-radius: 15px;
    .h-title {
      color: green;
    }

    .text-container {
      font-size: 30px;
    }
  }
}

.nav-btn-group {
  background-color: green;
}
.btn-label {
  color: black;
}
.btn-group-visibility {
  display: none;
}
@media screen and (max-width: 1400px) {
  .sec-1 .landing-container .company-intro {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
  }
}
@media screen and (max-width: 1200px) {
  .sec-1 .landing-container .company-intro {
    display: flex;
    .company-name {
      font-size: 50px;
    }
    .text-content {
      font-size: 30px;
    }
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  header .navbar-container .logo-image {
    height: 60px;
    width: 100px;
  }

  .sec-1 .landing-container .company-intro {
    display: flex;
    margin: 0 auto;
    .company-name {
      font-size: 40px;
    }
    .text-content {
      font-size: 20px;
      line-height: 30px;
    }
    flex-direction: column;
  }
}

@media screen and (max-width: 696px) {
  .btn-group-visibility {
    display: block;
    .nav-btn-group {
      height: 60px;
      width: 70px;
    }
  }
  .navbtn-visibility {
    display: none;
  }
  header .navbar-container .logo-image {
    height: 60px;
    width: 100px;
  }

  .sec-1 {
    background-size: 50vh;
  }
  .sec-1 .landing-container .company-intro {
    display: flex;
    margin: 0 auto;
    .company-name {
      font-size: 40px;
    }
    .text-content {
      font-size: 20px;
      line-height: 30px;
    }
    flex-direction: column;
  }
}
